body {
  font-family: sans-serif;
  --max-width: 45rem;
  max-width: var(--max-width);
}

::selection {
  color: white;
  background: black;
}

h2 {
  padding: 0.3rem 0 0 0;
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

article {
  margin: 2rem 0;
  line-height: 1.8;
}

.actor-adtech,
.actor-publisher,
.actor-advertiser,
.actor-browser {
  padding: 2px 4px;
}

.actor-adtech {
  background-color: #ff00003d;
}

.actor-publisher {
  background-color: #00c5334d;
}

.actor-advertiser {
  background-color: #fff59a;
}

.actor-browser {
  background-color: #0050ff38;
}

.code {
  font-size: 0.8rem;
  font-family: 'Lucida Console', Monaco, monospace;
}

.select {
  user-select: all;
  cursor: default;
}

.hint {
  font-size: 0.9rem;
}

.do {
  background: whitesmoke;
  padding: 0.2rem;
  font-size: 0.9rem;
  margin: 0.4rem 0 1.2rem 0;
}
