body {
  font-family: sans-serif;
  --max-width: 30rem;
  max-width: var(--max-width);
}

h1 {
  display: inline-block;
  background: #fff59a;
  padding: 0.1rem 0.2rem;
}

.button {
  color: white;
  background-color: black;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  margin: 0 auto;
}

.button:hover {
  background-color: #3f3f3f;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin: 2rem auto;
  display: block;
}

.pixel {
  background-color: red;
}

.select {
  user-select: all;
  cursor: default;
}

.actor-adtech,
.actor-publisher,
.actor-advertiser,
.actor-browser {
  padding: 2px 4px;
}

.actor-adtech {
  background-color: #ff00003d;
}

.actor-publisher {
  background-color: #00c5334d;
}

.actor-advertiser {
  background-color: #fff59a;
}

.actor-browser {
  background-color: #0050ff38;
}

summary {
  cursor: pointer;
  font-weight: 800;
}

summary:focus {
  outline: none;
}

details {
  margin-top: 6rem;
  background: #e9f0f7;
  padding: 0.5rem;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 0.8rem;
  color: #0d304a;
}

footer {
  padding: 1rem 0;
  font-size: 0.8rem;
}
