doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Advertiser
  link(rel='stylesheet' href='/styles.css')
h1 Advertiser website
h2 Shoes 07
img(width='200' height='187' src='/shoe07.jpg' alt='shoe 07')
.center
  a.button(href='/shoe07/added-to-cart') &gt;&gt; Add to cart
details
  summary &#x2139;&#xFE0F; API info
  |       Upon click, an impression event has been sent to
  span.actor-browser browser
  |  storage. No conversion has
  |       happened yet. 
  br
  |       &#x1F441; See the impression event in
  span.select chrome://conversion-internals/
  | .
footer &#x1F44B;Questions/feedback? Ping @maudn / @maudnals.